body{
    background-image: url(https://i.pinimg.com/originals/2f/99/71/2f997105886957379b47807356d619bf.jpg);  
    font-family: 'Poppins', sans-serif;
}

h4{
    display: none;
}
#navigation-bar{
    position: sticky;
    top: 0px;
}

#home{
    text-align: center;
    background-color: #dc8449b7;
    margin: 0 60px;
    padding: 122px 122px 0;
    border: 2px solid black;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 5px rgba(0, 0, 0, 0.19);
}


.woman-div{
    display: flex;
    justify-content: space-around;
}
.woman-img{
    height: 20%;
    width: 30%;
}
.skills-img{
    float: right;
    height: 50%;
    width: 50%;
}
#about-edu, #about-skills{
    background-color: #4f200dd7;
    margin: 0 60px;
    padding: 30px 30px;
    border: 2px solid black;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 5px rgba(0, 0, 0, 0.19);
}


.container-edu, .container-skills{
    color: whitesmoke;
    background-image: url(https://i.pinimg.com/originals/c1/ea/b8/c1eab827512e3ad232337f0e4fb1a7e4.jpg);
    padding: 100px 100px;
    border: solid 3px white;
}


    

#about-projects, #about-exp{
  background-image: url(https://media.istockphoto.com/id/1182701431/photo/dark-orange-brown-color-leather-skin-natural-with-design-lines-pattern-or-red-abstract.jpg?b=1&s=170667a&w=0&k=20&c=TXOYOug-eqGUVgJNmiUGcvfWUMFof7Zdsm_ZWjan16k=);
  margin: 0 60px;
  padding: 30px 30px;
  border: 2px solid black;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 5px rgba(0, 0, 0, 0.19);
}
.container-projects, .container-exp{
    background-color: #dc8449b7;
    padding: 50px 50px;
    border: solid 3px white;
}
.simon-img{
   height: 15%;
   width: 15%;
   float: right;  
}
.robot-img{
    height: 20%;
    width: 20%;  
    float: right;
}
.to-do{
    height: 20%;
    width: 20%;
    float: right;
}
.quiz-img{
    height: 20%;
    width: 20%;
    float: right;
}
   
    
.container-contact{
    text-align: center;
    color: black;
    padding: 50px 0;
}
.contact-icons:hover{
    cursor: pointer;
}
.fa-envelope:hover{
   color: #c7a086c2;
}
.fa-linkedin:hover{
    color: #c7a086c2;
}
.fa-envelope{
    margin-right: 20px;
}
li a{
    color: #471c0bd7;
}
@media (max-width: 590px){

    h1{
        display: none;
    }
    h4{
        display: block;
    }
    #home{
        margin: 0 15px;
    }
    #home, #about-edu, #about-projects, #about-skills, #about-exp{
        margin: 0 15px;
        padding: 15px;
        font-size: 12px;
    }
    .container-edu, .container-projects, .container-skills, .container-exp{
        padding: 40px 10px;
    }
}

